@import url("https://fonts.googleapis.com/css?family=Bebas Neue");
body
{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    background-color: gray;
}

.center
{
    position: absolute;
    top: 35%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}

h1 
{
    transform: translateY(65%);
    text-align: center;
    font-size: 4em;
    line-height: -10px;
    color: crimson;

}

h2
{
    text-align: center;
    font-size: 2.5em;
    color:rgb(0, 0, 0);
}

header
{
    position: absolute;
    width: 100%;
    top: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
}

header span
{
    font-size: .8em;
}

#cds
{
    display: flex;
    width: 570px;
    margin: 0 auto;
}

#cds div 
{
    position: relative;
    width: 75px;
    padding: 10px;
    margin: 0 5px;
    background: rgba(0, 0, 0, 0.199);
    border: 2px solid;
    font-size: 2em;
}

#cds div span
{
    display: block;
    margin-top: -5px;
}


#cds div span:nth-child(1)
{
    color: rgb(255, 255, 255);
}


.discord 
{
    position: absolute;
    z-index: 1000;
    margin-top: 15px;
    margin-left: 15px;
    color: #5865F2;
}

.discord:hover
{
    color: #4954c7;
}

#Video
{
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;

}

@media (min-aspect-ratio: 16/9) {
    #Video {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #Video { 
        width:auto;
        height: 100%;
    }
}
